* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-get {
    background-color: chartreuse;
    height: 50px;
    width: 150px;
}
#btn-post {
    background-color: chocolate;
    height: 50px;
    width: 150px;
}
